# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# FRONTEND 
# dependencies
Frontend/node_modules
Frontend/.pnp
Frontend/.pnp.js

# testing
Frontend/coverage

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

# PUBLIC FRONTEND 
# dependencies
public_frontend/node_modules
public_frontend/.pnp
public_frontend/.pnp.js

# testing
public_frontend/coverage

# production
public_frontend/build

# misc
public_frontend/.DS_Store
public_frontend/.env.local
public_frontend/.env.development.local
public_frontend/.env.test.local
public_frontend/.env.production.local

public_frontend/npm-debug.log*
public_frontend/yarn-debug.log*
public_frontend/yarn-error.log*

# BACKEND
# User defined
/Backend/AnimalAdoptionApplication/nbproject/private/
/Backend/AnimalAdoptionApplication/dist/
/Backend/AnimalAdoptionApplication/build/

/Backend/AnimalAdoptionApplication/AnimalAdoptionApplication-ejb/nbproject/private/
/Backend/AnimalAdoptionApplication/AnimalAdoptionApplication-ejb/build/
/Backend/AnimalAdoptionApplication/AnimalAdoptionApplication-ejb/dist/

/Backend/AnimalAdoptionApplication/AnimalAdoptionApplication-war/nbproject/private/
/Backend/AnimalAdoptionApplication/AnimalAdoptionApplication-war/dist/
/Backend/AnimalAdoptionApplication/AnimalAdoptionApplication-war/build/
/public_frontend/nbproject/private/
/Frontend/nbproject/private/
