.banner__section {
    margin-top: 70px;
  }
  
.banner__content h2 {
    line-height: 55px;
    font-size: 2.5rem;
  }
  
.banner__content h2 span {
    background: linear-gradient(-45deg, #e250e5, #4b50e6, #e250e5, #4b50e6);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-text-stroke: 3px transparent;
    -webkit-text-fill-color: #14141f;
    margin-left: 7px !important;
    display: inline-block;
  }
  
.banner__btns {
    margin-top: 40px;
  }
  
  .explore__btn,
  .create__btn {
    border: none;
    outline: none;
    padding: 7px 25px !important;
    border-radius: 50px !important;
    border: 1px solid #5142fc !important;
    font-size: 0.9rem;
    background: transparent;
  }
  
  .explore__btn i,
  .create__btn i {
    color: #fff;
    font-size: 1rem;
  }
  
  .explore__btn a,
  .create__btn a {
    text-decoration: none;
    color: #fff;
  }
  
.banner__btns button a:hover {
    color: #fff;
  }
  
.banner__img {
    width: 500px;
    margin-left: auto;
  }
  
.banner__img img {
    border-radius: 7px;
  }
  
  @media only screen and (max-width: 992px) {
.banner__img {
      width: 300px;
    }
  
.banner__section {
      margin-top: 90px;
    }
  
.banner__content h2 {
      font-size: 1.5rem;
      line-height: 40px;
    }
  
.banner__content p {
      font-size: 0.8rem;
      line-height: 25px;
    }
  
    .create__btn,
    .explore__btn {
      padding: 4px 25px !important;
    }
  
    .create__btn a,
    .explore__btn a {
      font-size: 0.7rem;
    }
  }
  
  @media only screen and (max-width: 576px) {
.banner__img {
      width: 100%;
      margin: auto;
      margin-top: 50px;
    }
  }
  

  .single__animallisting__card {
    padding: 20px;
    background: #343444;
    border-radius: 10px;
  }
  
  .animallisting__img img {
    border-radius: 10px;
  }
  
  .animallisting__img {
    margin-bottom: 15px;
  }
  
  .animallisting__title {
    margin-bottom: 15px;
  }
  
  .animallisting__title a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .animallisting__title a:hover {
    color: #fff;
  }
  
  .creator__img {
    width: 40px;
    height: 40px;
  }
  
  .creator__info h6 {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.772);
  
    margin-bottom: 0;
    font-weight: 300;
  }
  
  .creator__info p {
    font-size: 0.9rem;
    color: #fff;
  
    margin-bottom: 0;
    font-weight: 500;
  }
  
  .adoption__section__top {
    margin-top: 50px;
  }
  
  .adoption__section__top h3{
    text-align: center;
  }
  
  .adoption__section__top span a {
    text-decoration: none;
  }
  